.album-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
  overflow: hidden;
  transition: box-shadow 0.2s;
  box-shadow: 0 2px 16px rgba(0,0,0,0.18)
}

.album-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;

}

.albums-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Adjust as needed */
  padding-bottom: 5rem;
}

.album-buttons-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  gap: 1.5rem;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.album-container:hover .album-buttons-overlay,
.album-container.show-buttons .album-buttons-overlay {
  opacity: 1;
  pointer-events: auto;
}

.album-round-button {
  width: 60px;
  height: 60px;
  background: #222222da;
  color: #ffffff42;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.18);
  transition: background 0.2s, transform 0.2s;
  border: 2px solid #fff;
}

.album-round-button:hover {
  background: #444;
  transform: scale(1.1);
}

@media (max-width: 1000px) {
  .album-round-button {
    width: 100px;
    height: 100px;
  }
    .album-buttons-overlay {
    gap: 8rem;
  }

  .album-container {
    width: 80%;
    align-self: center;
  }
}